--index-url https://pypi.python.org/simple/

git+https://github.com/MapStory/composer@93300659c4f1a02c4eb2f17713d38779c47cc4e1#composer
git+https://github.com/boundlessgeo/django-exchange-maploom.git@v1.5.72#django-exchange-maploom
git+https://github.com/boundlessgeo/geonode@d48a09a82d74e3b10074c9889046ec7f733eebbf#egg=geonode
git+https://github.com/GeoNode/django-osgeo-importer@354385386307dda1573e568dfefc91457e25c5bf#egg=django-osgeo-importer
git+https://github.com/boundlessgeo/exchange-documentation@8bff66456353e969ca3b121017db551c379f3ec8#egg=django-exchange-docs
git+https://github.com/venicegeo/nearsight@30d0f2f426234b2131a1c738a407130bb3376ffb#egg=nearsight
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
numpy==1.11.3
django-geonode-client==1.0.0
dj-database-url==0.4.2
celery[redis]==3.1.18
django-storages==1.1.8
boto==2.38.0
waitress==0.9.0
whitenoise==3.2
django-cors-headers==1.1.0
django-classification-banner==0.1.5
django-solo==1.1.2
django-colorfield==0.1.10
psycopg2==2.6.1
python-ldap==2.4.25
django-auth-ldap==1.2.8
GDAL==2.1.0
supervisor==3.3.1
python-resize-image==1.1.10
django-flat-theme==1.1.3
flake8==3.0.4
elasticsearch-dsl==5.0.0
social-auth-app-django==1.1.0
mock==2.0.0
