{% if preview == 'maploom' %}
    <div id="map-header">
        <div class="map-icon">
            <img id="logo" />
            <input type="file" id="logo-upload" accept="image/*"/>
        </div>
        <div class="header-text">
            <div class="title ellipsis">{{ map.title }}</div>
            <div class="description ellipsis">{{ map.abstract }}</div>
        </div>
    </div>


    <div id="sidebar">
        <div class="panel panel-default carousel-parent">
            <div class="panel-body">
                <div id="sidebar-carousel">
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-body feature-panel">
                <table class="table table-condensed" id="feature-table">
                </table>
            </div>
        </div>
    </div>
{% endif %}
