{% if preview == 'maploom' %}
    <div id="map-header">
        <div class="map-icon" style="text-align: center;">
            <img id="logo" style="display: none;" />
            <i class="fa fa-picture-o" id="logo-placeholder" aria-hidden="true" style="font-size:45px;"></i>
            <input type="file" id="logo-upload" accept="image/*"/>
        </div>
        <div class="header-text">
            <div class="title ellipsis">{{ map.title }}</div>
            <div class="description ellipsis">{{ map.abstract }}</div>
        </div>
        {% if published_view != True %}
            <div class="edit-toggle" style="position: fixed; right: 0px; top: 55px;">
                <button class="btn" id="edit-template-btn"> <span class="fa fa-pencil"></span> </button>
            </div>
        {% endif %}
    </div>


    <div id="sidebar">
        <hr style="margin-top: 0px; margin-bottom: 5px;"/>
        <div class="sidebar-title" style="margin-top: 5px; margin-bottom: 5px; width: 100%; text-align: center;">
            <span id="feature-title"></span>
        </div>
        <div class="panel panel-default carousel-parent">
            <div class="panel-body">
                <div id="sidebar-carousel">
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-body feature-panel">
                <div class="col-md-12" id="feature-table">
                </div>
            </div>
        </div>
    </div>
{% endif %}
